<div class="col-xs-10 vol-xs-offset-1 about">
  
  <div class="container">
    <h1>About Splurty</h1>

    <p>
      This version of Splurty was built by <a href="https://github.com/rjdellecese">RJ</a>.
    </p>

    <br />
    <br />
  </div>

  <div class="col-xs-12 col-sm-4">
    <%= image_tag 'rj.jpg', :class => 'img-responsive' %>
  </div>

  <div class="col-xs-12 col-sm-7 col-sm-offset-1">
    <h2 class="text-center">RJ Dellecese</h2>
    <br />
    <p>RJ is a fairly interesting person, according to some. He has hobbies and accomplishments, as well as opinions about many different things.
    </p>
  </div>
</div>

<br class="clear" />
<br />
<br />
<br />
<br />